<div class='main'>
  <% if user_signed_in? %>
    <div class="user_nav grid-6">
      <a class="post" href="/tweets/new">投稿する</a>
    </div> 
  <% end %>

  <div class='item-contents'>
    <%= link_to '新規投稿写真', "/tweets/new", class: "subtitle" %>
    <ul class='tweet-lists'>
      <% @tweets.each do |tweet| %>
        <li class='list'>
          <div class="tweet-post">
            <%= link_to tweet_path(tweet) do %>
              <div class='tweet-img-content'>
                <div class='tweet-info'>
                  <h3 class='tweet-name'>
                    <div class:="tweets-name">
                      <%= tweet.name %>
                    </div>
                  </h3>
                </div>
                <%= image_tag tweet.image.variant(resize:'500x500'), class: "tweet-image" %>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

