<div class='main'>
  <% if user_signed_in? %>
    <div class="user_nav grid-6">
      <a class="post" href="/tweets/new">投稿する</a>
    </div> 
  <% end %>

  <%= link_to '新規投稿写真', "/tweets/new", class: "subtitle" %>
  <ul class='item-lists'>
    <% @tweets.each do |tweet| %>
      <div class="tweet-post">
        <%= link_to tweet_path(tweet) do %>
          <div class='tweet-img-content'>
            <%= image_tag tweet.image.variant(resize:'500x500'), class: "tweet-image" %>
            <div class='tweet-info'>
              <h3 class='tweet-name'>
                <%= tweet.name %>
              </h3>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>

