<div class="contents row">
  <div class="user_nav grid-6">
    <div class="myroom">
      <p><%= @nickname %>さんのアルバム</p>
    </div>
    <ul class='my-tweet-lists'>
      <% @tweets.each do |tweet| %>
        <div class="tweet-post">
          <%= link_to tweet_path(tweet) do %>
            <div class='tweet-info'>
              <p><%= tweet.name %></p>
            </div>
            <%= image_tag tweet.image.variant(resize:'500x500'), class: "tweet-image" %>
          <% end %>
        </div>
      <% end %>
    </ul>
  </div>
</div>